$primary-background: #97bfcc
$lighter-background: #bedae5
$btn-color: #97bfcc

html, body
   height: 100%
   min-height: 100%
   margin: 0

.btn-theme
    background-color: $primary-background !important

.btn-color
    background-color: $btn-color !important
    color: white !important

button
    border-width: 0px !important

.form-field
    min-width: 300px
form
    text-align: center

.table-title
    margin: 20px
    padding: 10px
    font-size: x-large
    font-weight: 500
