<h2 mat-dialog-title>{{data.commonName}}</h2>

<mat-dialog-content>
    <table style="table-layout:fixed;">
        <tbody>
            <tr>
                <td class="left-col">Version:</td>
                <td>{{data.version}}</td>
            </tr>
            <tr>
                <td class="left-col">Subject:</td>
                <td>{{data.subjectData}}</td>
            </tr>
            <tr>
                <td class="left-col">Issuer:</td>
                <td>{{data.issuerData}}</td>
            </tr>
            <tr>
                <td class="left-col">Serial Number:</td>
                <td>{{data.serialNumb}}</td>
            </tr>
            <tr>
                <td class="left-col">Valid From:</td>
                <td>{{data.validFrom | date}}</td>
            </tr>
            <tr>
                <td class="left-col">Valid Until:</td>
                <td>{{data.validUntil | date}}</td>
            </tr>
            <tr>
                <td class="left-col">Signature Algorithm:</td>
                <td>{{data.signatureAlgorithm}}</td>
            </tr>
            <tr>
                <td class="left-col">Public key:</td>
                <td><textarea class="public-key">{{data.publicKey}}</textarea></td>
            </tr>
        </tbody>
    </table>
    <div class="footer-btns">
        <button class="btn btn-color btn-foot" mat-button (click)="downloadPkcs12()">Download PKCS#12</button>
        <button class="btn btn-color btn-foot" mat-button (click)="download()">Download certificate</button>
        <button class="btn btn-color btn-foot" mat-button (click)="close()">Close</button>
    </div>
</mat-dialog-content>
