<div class="table-title">Create custom alarm for logs</div>
<div class="col">
    <form [formGroup]="customAlarmForm" #createCustomAlarmDirective="ngForm"
        (ngSubmit)="onSubmit(createCustomAlarmDirective)">
        <div class="form-group">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Log alarm type</mat-label>
                <input type="text" placeholder="Enter alarm type" matInput formControlName="logAlarmType"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let type of filteredOptions | async" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Log alarm message</mat-label>
                <input matInput formControlName="logAlarmMessage" type="text">
            </mat-form-field>
        </div>
        <!--Level-->
        <div class="form-group">
            <mat-checkbox formControlName="level">
                Level
            </mat-checkbox>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Operator</mat-label>
                <mat-select formControlName="operatorLevel">
                    <mat-option *ngFor="let oper of opers.split('|')" [value]="oper">
                        {{oper}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Value for level</mat-label>
                <mat-select formControlName="valueLevel">
                    <mat-option *ngFor="let level of levels.split('|')" [value]="level">
                        {{level}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!--Message-->
        <div class="form-group">
            <mat-checkbox formControlName="message">
                Message
            </mat-checkbox>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Operator</mat-label>
                <mat-select formControlName="operatorMessage">
                    <mat-option [value]="'=='">
                        contains
                    </mat-option>
                    <mat-option [value]="'!='">
                        not contains
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Value for message</mat-label>
                <input matInput formControlName="valueMessage" type="text">
            </mat-form-field>
        </div>
        <!--Source-->
        <div class="form-group">
            <mat-checkbox formControlName="source">
                Source
            </mat-checkbox>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Operator</mat-label>
                <mat-select formControlName="operatorSource">
                    <mat-option *ngFor="let oper of opers.split('|')" [value]="oper">
                        {{oper}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Value for source</mat-label>
                <input matInput formControlName="valueSource" type="text">
            </mat-form-field>
        </div>
        <!--Ip address-->
        <div class="form-group">
            <mat-checkbox formControlName="ipAddress">
                Ip address
            </mat-checkbox>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Operator</mat-label>
                <mat-select formControlName="operatorIpAddress">
                    <mat-option *ngFor="let oper of opers.split('|')" [value]="oper">
                        {{oper}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Value for ip address</mat-label>
                <input matInput formControlName="valueIpAddress" type="text">
            </mat-form-field>
        </div>
        <div class="row justify-content-md-center">
            <button id="create-alarm" class="btn btn-color" [disabled]="customAlarmForm.invalid">
                Create alarm
            </button>
        </div>
    </form>
</div>