<mat-drawer-container class="homepage-container">
    <mat-drawer mode="side" opened>
        <div class="title">Hospital</div>
        <mat-nav-list>
            <!-- [routerLink]="'logs'" -->
            <a mat-list-item>Samting</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <span class="logout-spacer"></span>
            <button id="logout-btn" mat-button (click)="logout()">
                Logout&nbsp;<mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>