$primary-background: #aae0f9
$btn-color: #10468a

html, body
   height: 100%
   min-height: 100%
   margin: 0

.btn-theme
    background-color: $primary-background !important

.btn-color
    background-color: $btn-color !important
    color: white !important

button
    border-width: 0px !important

.form-field
    min-width: 300px
form
    text-align: center
