<div class="table-title">Create certificate</div>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="subjectInfoForm">
        <form [formGroup]="subjectInfoForm">
            <ng-template matStepLabel>Subject Info</ng-template>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Common name</mat-label>
                <input matInput formControlName="commonName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Given name</mat-label>
                <input matInput formControlName="givenName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Organization name</mat-label>
                <input matInput formControlName="organizationName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Organization unit</mat-label>
                <input matInput formControlName="organizationUnit">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="generalInfoForm">
        <form [formGroup]="generalInfoForm">
            <ng-template matStepLabel>General Info</ng-template>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Certificate type</mat-label>
                <mat-select formControlName="certificateType" (selectionChange)="setDates()">
                    <mat-option disabled value="intermediate">Intermediate</mat-option>
                    <mat-option value="endUser">End user</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Valid from</mat-label>
                    <input matInput formControlName="startDate" [matDatepicker]="validFrom">
                    <mat-datepicker-toggle matSuffix [for]="validFrom"></mat-datepicker-toggle>
                    <mat-datepicker #validFrom></mat-datepicker>                
                </mat-form-field>
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Valid to</mat-label>
                    <input matInput formControlName="endDate" [matDatepicker]="validTo" 
                    [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="validTo"></mat-datepicker-toggle>
                    <mat-datepicker #validTo></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- <section class="key-usage-section">
                <h4>Key usage:</h4>
                <mat-checkbox formControlName="digitalSignature">Digital signature</mat-checkbox>
                <mat-checkbox formControlName="nonRepudiation">Non repudiation</mat-checkbox>
                <mat-checkbox formControlName="keyEncipherment">Key encipherment</mat-checkbox>
            </section> -->
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="issuerInfoForm">
        <form [formGroup]="issuerInfoForm">
            <ng-template matStepLabel>Issuer info</ng-template>
            <div>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Signing certificate</mat-label>
                <mat-select formControlName="signingCertificate"
                    (selectionChange)="certificateChange($event)">
                    <mat-option *ngFor="let certificate of signingCertificates" [value]="certificate.alias">{{certificate.commonName}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Common name</mat-label>
                <input matInput formControlName="commonName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Given name</mat-label>
                <input matInput formControlName="givenName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Organization name</mat-label>
                <input matInput formControlName="organizationName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Organization unit</mat-label>
                <input matInput formControlName="organizationUnit">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="onSubmit()">Create</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>